[submodule "apache2"]
	path = apache2
	url = git://github.com/opscode-cookbooks/apache2.git
[submodule "apt"]
	path = apt
	url = git://github.com/opscode-cookbooks/apt.git
[submodule "erlang"]
	path = erlang
	url = git://github.com/opscode-cookbooks/erlang.git
